<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savoury recipes</title>
        <link rel="stylesheet" href="savoury.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Jacques+Francois&display=swap" rel="stylesheet">

</head>
<body>
    <div id="hero">
        <div id="hero-banner">
            <h1>Savoury Delights</h1>
        </div>
    </div>

    <div id="savoury-recipes">
        <h2>Explore our collection of savoury recipes!</h2>
        <ul id="cards">
            <li><a href="recipe1.html">Tacos</a></li>
            <li><a href="recipe2.html">Pizza</a></li>
            <li><a href="recipe3.html">Ramen</a></li>
            <li><a href="recipe3.html">Sushi</a></li>
        </ul>
        
    <div id="links">
        <a href="index.html">Home</a>
        <a href="sweet.html">Sweet Food</a>
        <a href="add.html">Add a Recipe</a>
    </div>
</body>
</html>